.projects {
    width: calc(100% - 210px);
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(135deg, #000000 0%, rgba(65, 65, 65, 0.5) 80%);
    display: flex;
    flex-direction: column;
    padding-left: 210px;
}

.project-grid-full {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card-full {
    width: 260px;
    height: 260px;
    padding: 0px;
    text-align: center;
    font-size: larger;
    font-family: "Lemon Milk";
    color: white;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.leetcode {
    background-image: url(../assets/leetcode.png);
}

.stackoverflow {
    background-image: url(../assets/stackoverflow.png);
}

.research {
    background-image: url(../assets/research.png);
}

.nerdymonk {
    background-image: url(../assets/nerdymonk.png);
}

.nerdymonk-ide {
    background-image: url(../assets/nerdymonk-ide.png);
}

.cursorcrew {
    background-image: url(../assets/cursorcrew.png);
}

.manageone {
    background-image: url(../assets/manageone.png);
}

.organizerinator {
    background-image: url(../assets/organizerinator.png);
}

.tech-blogs {
    background-image: url(../assets/tech-blogs.png);
}

@media screen and (max-width: 960px) {
    .projects {
        padding: 120px 5px;
        width: 100%;
    }
    .project-grid-full {
        justify-content: center;
    }
}