.to-top-btn {
    position: sticky;
    bottom: 10px;
    left: calc(100% - 60px);
    border-radius: 50%;
    aspect-ratio: 1;
    width: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 2px solid whitesmoke;
    font-size: xx-large;
    text-align: center;
    display: none;
    transition: all 800ms;
    animation: fadeIn 800ms linear;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {opacity: 0}
    50% {opacity: 0.5}
    100% {opacity: 1}
}

@media screen and (max-width: 960px) {
    .to-top-btn {
        display: none;
    }
}